body {
  padding: 0%;
  margin: 0%;
  height: 100vh;
  width: 100vw;
  background: rgb(58, 42, 69);
  background: linear-gradient(
    90deg,
    rgba(58, 42, 69, 1) 0%,
    rgba(96, 52, 52, 1) 46%,
    rgb(74, 34, 114) 73%,
    rgb(73, 32, 100) 100%
  );
  overflow: hidden;
}

content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  margin-left: 500px;
}

header {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: end;
  justify-items: center;
  margin-left: 200px;
  align-items: center;
}
.title {
  color: white;
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
  font-weight: 700;
}

.Logo {
  height: 50px;
  width: auto;
}
main {

  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 20px;
  height: 50%;
  width: 50%;
  padding: 10px;
}
button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 20px 40px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 12px;
  margin-left: 200px;
}
button:hover {
  background-color: rgb(138, 66, 233);
  color: white;
  transition: all 0.3s ease;
  scale: 1.1;
}
.description {
  color: white;
  font-size: 2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    width: 70%;
    margin-left: 200px;
}

span {
  color: rgb(138, 66, 233);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  height: 400px;
  margin-left: 20px;
}
img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
  z-index: 1;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 200px;
  height: 50%;
  width: 50%;
  padding: 10px;
}

.orochimaru-image {
  position: relative;
  top: -200px;
  left: 150px;
}
.madara-image {
  position: relative;
  top: -20px;
  left: -50px;
}
.lee-image {
  position: relative;
  top: 370px;
  left: 300px;
}
.aside-content {
  width: 40%;
  height: 50%;
  display: flex;
  align-items: start;
}
.madara-image-content {
  height: 500px;
}
.luffy-image-content {
  height: 500px;
  transform: translateX(0);
  transition: all 0.3s ease;
  animation: mover 2s linear infinite;
  z-index: 1;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 20px;
  height: 10%;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.anime-list {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  margin-top: 20px;
  margin-left: 200px;
}
.button-back {
  margin-top: -100px;
}

.lista-anime {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 1em;
  height: 40px;
  text-align: start;
  border-radius: 30px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
  font-weight: 700;
  height: 100%;
}
.lista-anime:hover {
  color: rgb(138, 66, 233);
  transition: all 0.3s ease;
  scale: 1.1;
  background-color: rgb(138, 66, 233);
  color: white;
}
.naruto-image-content{
  height: 120%;
}

.container{
  display: flex;
  align-items: start;
  margin-top: 50px;
  height: 70%;
  width: 100%;
}

.description-text{
  color: white;
  font-size: 1.05em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 200px;
}